{{ $url := ( .Get 0) }}
{{ $function := print "https://summary.teamblackcrystal.com/?" (querify "url" $url )}}
{{ $og := getJSON $function }}

{{ $parsed_url := urls.Parse $url }}

<a href="{{ $og.url }}" target="_blank" rel="noopener noreferrer" class="blog-card-link">
  <div class="blog-card">
    <div class="blog-card-thumb" style="background-image: url('{{ $og.thumbnail }}')"></div>
    <div class="blog-card-content">
      <div class="blog-card-title">{{ $og.title }}</div>
      {{- if $og.description -}}
      <p class="blog-card-description">
        {{ replace ($og.description | plainify) "\n" ""}}
      </p>
      {{- end -}}
      <div class="blog-card-domain">
        {{- if ($og.icon) -}}
        <img height="14" width="14" src="{{ $og.icon }}" alt="favicon image" />
        {{- end -}}
        {{ $parsed_url.Host }}
      </div>
    </div>
  </div>
</a>